@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 1440px;
  margin: auto;
  background: #effafa;
}

header {
  background: url(../images/bg-header-mobile.svg) top left no-repeat, linear-gradient(to bottom, #5ba4a4 0, #5ba4a4 156px, #effafa 156px, #effafa 100%);
  background-size: 100% 156px, 100% 100%;
  width: 100%;
  min-height: 156px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem 2.5rem 0;
}

.filter {
  margin-top: 9.5rem;
  padding: 1.2rem;
  background: white;
  border-radius: 5px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__selected__box {
  margin: .8rem;
  background: #eef6f6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__selected--text {
  display: inline-block;
  padding: .9rem;
  color: #5ba4a4;
  font-size: 1.2rem;
  font-weight: 700;
}

.filter__selected--remove {
  background: #5ba4a4;
  padding: .9rem;
  border-radius: 0 5px 5px 0;
}

.filter__selected--remove:hover {
  cursor: pointer;
  background: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.filter__clear {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #7b8e8e;
  text-decoration: none;
}

.filter__clear:hover {
  cursor: pointer;
  color: #5ba4a4;
  text-decoration: underline;
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  -webkit-transition: .3s;
  transition: .3s;
}

main {
  margin: 5.5rem 2.5rem 3rem;
}

main .card {
  height: 260px;
  padding: 2.5rem 2.5rem 1.5rem 2rem;
  position: relative;
  background: white;
  border-radius: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 4rem;
  border-left: 5px solid transparent;
}

main .card__profile__img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -2.5rem;
}

main .card__profile__info {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .card__profile__info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card__profile__info--company {
  color: #5ba4a4;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 2rem;
}

main .card__profile__info--new {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: .8rem .8rem .4rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  background: #5ba4a4;
  margin-right: 1rem;
}

main .card__profile__info--featured {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: .8rem .8rem .4rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  background: black;
}

main .card__profile__info--position {
  color: #2c3a3a;
}

main .card__profile__info--position:hover {
  cursor: pointer;
  color: #5ba4a4;
}

main .card__profile__info__msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card__profile__info--postedAt, main .card__profile__info--contract, main .card__profile__info--location {
  font-size: 1.3rem;
  color: #7b8e8e;
}

main .card__profile__info--dot {
  display: inline-block;
  margin: 0 .5rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #7b8e8e;
}

main .card__competences {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card__competences--role, main .card__competences--level, main .card__competences--languages, main .card__competences--tools {
  display: inline-block;
  margin: .75rem 1.5rem .75rem 0;
  padding: 1rem .9rem;
  background: #eef6f6;
  color: #5ba4a4;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
}

main .card__competences--role:hover, main .card__competences--level:hover, main .card__competences--languages:hover, main .card__competences--tools:hover {
  cursor: pointer;
  background: #5ba4a4;
  color: white;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

footer {
  text-align: center;
  font-size: 11px;
  margin-bottom: 2rem;
}

footer a {
  color: #3e52a3;
}

@media screen and (min-width: 900px) {
  header {
    background: url(../images/bg-header-desktop.svg) top left no-repeat, linear-gradient(to bottom, #5ba4a4 0, #5ba4a4 156px, #effafa 156px, #effafa 100%);
    background-size: 100% 156px, 100% 100%;
    padding: 2.5rem 8rem 2rem;
  }
  main {
    padding: 5rem 8rem 1rem;
    margin: 0;
  }
  main .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 2.5rem;
    margin-bottom: 5rem;
  }
  main .card__profile__img {
    width: 60px;
    height: 60px;
    top: -3rem;
  }
  main .card__profile__hr {
    display: none;
  }
  main .card__competences {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .card__competences--role, main .card__competences--level, main .card__competences--languages, main .card__competences--tools {
    margin: 0 0 0 1.5rem;
  }
}

@media screen and (min-width: 1300px) {
  header {
    padding: 2.5rem 16.5rem 0;
  }
  .filter {
    padding: 1.2rem 4rem 1.2rem 3.2rem;
  }
  .filter__clear {
    margin-right: 0;
  }
  main {
    padding: 4rem 16.5rem 3rem;
    margin: 0;
  }
  main .card {
    padding: 2.5rem 4rem 2.5rem 3.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 2.5rem;
  }
  main .card__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .card__profile__img {
    width: 88px;
    height: 88px;
    position: unset;
    margin-right: 2.5rem;
  }
  main .card__profile__info--company {
    font-size: 1.4rem;
  }
  main .card__profile__info--position {
    font-size: 1.8rem;
  }
  main .card__profile__info--postedAt, main .card__profile__info--contract, main .card__profile__info--location {
    font-size: 1.4rem;
  }
  main .card__profile__info--dot {
    margin: 0 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */