@include tablet {
    header {
        background: url(../images/bg-header-desktop.svg) top left no-repeat, linear-gradient(to bottom, $pri-desaturated-dark-cyan 0, $pri-desaturated-dark-cyan 156px, $bg-l-grayish-cyan 156px, $bg-l-grayish-cyan 100%);
        background-size: 100% 156px, 100% 100%;
        padding: 2.5rem 8rem 2rem;
    }

    main {
        padding: 5rem 8rem 1rem;
        margin: 0;

        .card {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            padding: 3rem 2.5rem;
            margin-bottom: 5rem;

            &__profile {

                &__img {
                    width: 60px;
                    height: 60px;
                    top: -3rem;
                }

                &__hr {
                    display: none;
                }
            }

            &__competences {
                height: fit-content;
    
                &--role, &--level, &--languages, &--tools {
                    margin: 0 0 0 1.5rem;
                }
            }
        }
    }
}

@include laptop {

    header {
        padding: 2.5rem 16.5rem 0;
    }

    .filter {
        padding: 1.2rem 4rem 1.2rem 3.2rem;

        &__clear {
            margin-right: 0;
        }
    }

    main {
        padding: 4rem 16.5rem 3rem;
        margin: 0;
        
        .card {
            padding: 2.5rem 4rem 2.5rem 3.5rem;
            flex-direction: row;
            align-items: center;
            height: fit-content;
            margin-bottom: 2.5rem;

            &__profile {
                display: flex;
                align-items: center;

                &__img {
                    width: 88px;
                    height: 88px;
                    position: unset;
                    margin-right: 2.5rem;
                }
        
                &__info {
        
                    &--company{
                        font-size: 1.4rem;
                    }
        
                    &--position {
                        font-size: 1.8rem;
                    }
        
                    &--postedAt, &--contract, &--location {
                        font-size: 1.4rem;
                    }
        
                    &--dot{
                        margin: 0 1.8rem;
                    }
                }
            }
        }
    }
}